*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000000;
}
ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: kenter;
  border-radius: 10px;
  box-shadow:0 5px 25px rgb(255, 255, 255);
  --border: 2px solid rgb(255, 255, 255);
  --border-radius: 8px;
  --padding: 5px;
}
ul li
{
  List-style: none;
}
ul li a
{
  position: relative;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  z-index: 1000;
  backdrop-filter: blur(20px);
  
}
ul li a ion-icon
{
  font-size: 2.5em;
  pointer-events: none;
  opacity: 0.25;
  transition: 0.25s;
}
ul li:hover a ion-icon
{
  opacity: 3;
}
#marker
{
  position: absolute;
  top: 0;
  transition: 0.5s;
  z-index: 1;
}
#marker::before
{
  content: '';
  position: absolute;
  top: -10px;
  Left: 50%;
  transform: translatex(-50%);
  width: 70px;
  height: 20px;
  border-radius: 8px;
  background: #0000009a;
  box-shadow: 0 0 15px #c7c7c7,
  0 0 30px #ffffff,
  0 0 45px #ffffff,
  0 0 60px #ffffff;
}
ul li:nth-child(1).active ~ #marker::before
{
  background: white;
  box-shadow: 0 0 15px #c7c7c7,
  0 0 30px #ffffff,
  0 0 45px #ffffff,
  0 0 60px #ffffff;  
}
ul li:nth-child(2).active ~ #marker::before
{
  background: white;
  box-shadow: 0 0 15px #c7c7c7,
  0 0 30px #ffffff,
  0 0 45px #ffffff,
  0 0 60px #ffffff;  
}
